name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  macos_tests:
    runs-on: macos-12
    strategy:
      matrix:
        xcode:
          - "14.2" # Swift 5.7.2
        command:
          - test
          # - benchmarks
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: System
        run: system_profiler SPHardwareDataType
      - name: Run ${{ matrix.command }}
        run: make ${{ matrix.command }}

  ubuntu_tests:
    strategy:
      matrix:
        os: [ubuntu-20.04]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test

  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.7-release
          tag: 5.7.2-RELEASE

      - uses: actions/checkout@v3
      - run: swift test
