name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  macos:
    runs-on: macos-14
    strategy:
      matrix:
        xcode:
          - '16.0'
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: System
        run: system_profiler SPHardwareDataType
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test

  linux:
    strategy:
      matrix:
        os: [ubuntu-latest]
        swift:
          - '6'
    runs-on: ${{ matrix.os }}
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test
